*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    height: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.contact, nav, .slider, .can_do{
    position: relative;
    width: 1140px;
    margin: 0 auto;
}
main{
    padding: 8px 80px 0px 80px;
}


/*Go to top button*/
#toTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: rgb(149, 174, 237); /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 15px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}
#toTopBtn:hover {
  background-color: rgb(149, 174, 237, 0.4); /* Add a dark-grey background on hover */
}


/*Nav menu*/
nav{
  z-index: 10000;
  background-color: white;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
}
ul.menu {
    height: 152px;
}
ul.menu li{
  float: left;
  list-style: none;
  margin-top: 76px;
}
ul.menu li.logo{
    margin-right: 80px ;
    margin-top: 0;
}
.logo_img{
    object-fit: contain;
    height: 136px;
    width: 136px;
}
ul.menu li a{
    font-weight: 500;
    padding: 0px 20px 0px 20px;
    font-family: Roboto Medium;
    font-size: 24px;
    display: block;
    color: black;
    text-decoration: none;
}
ul.menu li.selected a{
    color: #95AEED;
}
ul.menu li a:hover{
    color: rgb(149, 174, 237);
}


/* Language Button */
.langbtn {
  padding: 0px 32px 0px 20px;
  font-family: Roboto Medium;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 24px;
  border: none;
}
.lang {
  position: relative;
  display: inline-block;
}
.langbtn-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 136px;
  z-index: 1;
}
.lang button.langbtn:hover{
  color: rgb(149, 174, 237);
}
.lang:hover .langbtn-content {
  display: block;
}
.lang_img{
    left: 110px;
    position: absolute;
    margin-top: 3px;
    height: 23px;
    width: 24px;
}

/*Info container*/

ul.info{
    margin-top: 24px;
    height: 72px;
}
ul.info li{
    float: left;
    list-style: none;
    margin: 0;
    font-weight: 500;
    font-family: Roboto Medium;
    font-size: 20px;
    display: block;
    padding: 6px 26px 6px 26px;
    color: black;
    text-decoration: none;
}
.info_img{
    margin-right: 8px;
    padding: 10px;
    height: 60px;
    width: 60px;
    border: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: #95AEED;
    background-color:rgb(149, 174, 237, 0.4);
}


/* Slideshow container */
.slideshow-container {
    margin-top: 24px;
    overflow: hidden;
    width: 100%;
    height: 490px;
    position: relative;
  }
  .slider_img{
    padding: 0px 8px 0px 8px;
    width: 100%;
    height: 490px;
    object-position: bottom;
    object-fit: cover;
  }
  .mySlides {
    display: none;
  }
  .slide_text {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    font-size: 18px;
    padding: 8px 12px;
    position: absolute;
    right: 8px;
    bottom: 0px;
    width: 50%;
  }
  .slide_header {
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: 8px;
    color: white;
    font-size: 28px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #717171;
  }
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


/*works section*/
ul.works{
    margin-top: 24px;
    height: 368px;
}
ul.works li{
  width: 220px;
  height: 264px;
  float: left;
  list-style: none;
  padding: 8px 13px;
}
.works_img{
  margin: auto;
  padding: 10px;
  height: 104px;
  width: 104px;
  border: 1px;
  border-radius: 50px;
  border-style: solid;
  border-color: #95AEED;
  background-color:rgb(149, 174, 237, 0.4);
}
.works_imgbg{
  height: 69px;
  width: 69px;
  margin: 6px;
}
.works_text{
  text-transform: uppercase;
  text-align: center;
  font-family: Roboto Bold;
  font-size: 20px;
  color: black;
  padding-top: 16px;
  height: 74px;
}

ul.works li a{
  border-radius: 4px;
  background: linear-gradient(#95AEED, #607CC2, #607CC2, #95AEED);
  text-align: center;
  padding: 10px 15px;
  font-family: Roboto Medium;
  font-size: 18px;
  color: black;
  text-decoration: none;
}
.works_btn{
  text-align: center;
}
ul.works li.selected a{
  background: linear-gradient(#E2E3E7, #FFFFFF, #FFFFFF, #E2E3E7);
  color: #95AEED;
}
ul.works li a:hover{
  color: #95AEED;
}