*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 720px;
    min-width: 400px;
    background-color: #fff;
    background: url("../img/background.jpg") center/cover no-repeat;
}
main{
    text-align: center;
}
header{
    font: 1.2em 'century gothic', arial;
    color: rgb(221, 221, 221);
    
    background-color: rgba(73, 70, 70, 0.671);
    margin: 0;
    min-width: 400px;
    min-height: 50px;
}
section{
    min-height: 512px;
    width: auto;
    overflow: hidden;
    margin: 5px auto 20px auto;
    font: 1.7em 'century gothic', arial ;
    font-weight: 900;

}
section a{
    margin: 20px;
    color: rgb(34, 187, 179);
}
section h2{
    color: rgb(221, 221, 221);
}
footer{
    vertical-align: bottom;
    width: 100%;
    height: 100px;
    padding: 28px 0 5px 0;
    text-align: center;
    background-color: rgba(73, 70, 70, 0.671);
    color: rgb(221, 221, 221);
    margin-left: 0px;
    margin-right: 0px;
    min-width: 400px;
}
footer h2{
    font: 1.7em 'century gothic', arial ;
}
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px){
    header {
        background-color: #257965;
        min-width: 100%;
        height: 20%;
        text-align: center;
    }
    section{
        width: 100%;
        text-align: center;
    }
    iframe{
        width: 88%;
        height: 100%;
    }
}